{% extends "base.html" %}
{% load static %}
{% block content %}

<section style="padding:80px 20px; background:#f6fff8;">
    <div style="max-width:700px; margin:auto; background:white;
                padding:50px; border-radius:16px;
                box-shadow:0 10px 25px rgba(0,0,0,0.08);
                text-align:center;">

        <h2 style="color:#2e7d32;">Contact Us</h2>

        <p style="color:#555; margin-top:20px;">
            We’re here to help you. Reach out anytime.
        </p>

        <div style="margin-top:30px; font-size:17px; color:#555;">
            <p>📍 City Hospital Road, India</p>
            <p>📞 +91 98765 43210</p>
            <p>✉ support@hospinex.com</p>
        </div>

    </div>
</section>

{% endblock %}
