{% extends "base.html" %}
{% load static %}
{% block content %}

<section>
    <h2>Our Medical Departments</h2>

    <div class="grid">
        <div class="card">🫀 <h3>Cardiology</h3><p>Heart care & diagnostics</p></div>
        <div class="card">🧠 <h3>Neurology</h3><p>Brain & nervous system</p></div>
        <div class="card">🦴 <h3>Orthopedics</h3><p>Bones & joint care</p></div>
        <div class="card">👶 <h3>Pediatrics</h3><p>Child healthcare</p></div>
        <div class="card">🦷 <h3>Dental</h3><p>Advanced dental care</p></div>
        <div class="card">🩺 <h3>General Medicine</h3><p>Primary treatment</p></div>
    </div>
</section>

{% endblock %}
