{% extends "base.html" %}
{% load static %}
{% block content %}

<section>
    <h2>Hospital Gallery</h2>

    <div class="grid">
        <div class="card" style="height:160px;">Reception Area</div>
        <div class="card" style="height:160px;">Operation Theatre</div>
        <div class="card" style="height:160px;">Patient Rooms</div>
        <div class="card" style="height:160px;">Emergency Ward</div>
        <div class="card" style="height:160px;">Laboratory</div>
        <div class="card" style="height:160px;">Pharmacy</div>
    </div>
</section>

{% endblock %}
