<!DOCTYPE html>
<html>
<head>
    <title>Patient Signup</title>
</head>
<body>

<h2>Create Account</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Full Name" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br><br>

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="{% url 'patient_login' %}">Login</a></p>

</body>
</html>